* {
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(rgba(0,0,0,0.55), transparent 1px),
                linear-gradient(90deg, rgba(0,0,0,0.55), transparent 1px);
    background-size: 30px 30px;
}

.result {
    font-size: 38px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    height: 50px;

    color: green;
}

.game {
    height: 360px;
    width: 360px;

    display: flex;
    flex-wrap: wrap;

    margin: 30px 0;

    outline: 3px solid #000;
}

.field {
    height: 120px;
    width: 120px;

    border: 2px solid #000;
    cursor: pointer;
}

.new-game {
    font-size: 20px;

    padding: 10px 14px;

    background-color: green;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.field.active {
    background-color: rgba(0,255,0,0.55);
}

.circle {
    height: 100%;
    width: 100%;

    /* need for drawing border as dash */
    stroke-dasharray: 50;
}