* {
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(rgba(0,0,0,0.55), transparent 1px),
                linear-gradient(90deg, rgba(0,0,0,0.55), transparent 1px);
    background-size: 30px 30px;
}